<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="3rd/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="3rd/bootstrap-material-design/dist/css/material.min.css">

    <script src="3rd/jquery/dist/jquery.min.js"></script>
    <script src="3rd/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="3rd/bootstrap-material-design/dist/js/ripples.min.js"></script>

    <title>OhMySensors</title>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0)"><span class="mdi mdi-action-settings"></span> OhMySensors</a>
      </div>
    </div>
  </body>
</html>